* {
  box-sizing: border-box;
}

:root {
  --main-alt-color: #822000;
  --main-bg-color: #f3e9e9;
  --main-text-color: #202020;
  --main-light-color: #3c3c3c;
  --table-bg-td-color: #ede6d9;
  --table-bg-mod-color: #ded4cc;
  --table-mod-text-color: #5b160c;
  --table-alt-bg-color: #d8dad1;
  --table-alt-mod-color: #d0caca;
  --outer-shadow-color: #979AA4;
  --outer-border-color: #d4d0ce;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-alt-color: #ee3a91;
    --main-bg-color: #202020;
    --main-text-color: #f3e9e9;
    --main-light-color: #a4a4a4;
    --table-bg-td-color: #1f1c1f;
    --table-bg-mod-color: #1b1a1b;
    --table-mod-text-color: #f3e9e9;
    --table-alt-bg-color:#1f1c1f;
    --table-alt-mod-color: #181718;
    --outer-shadow-color: #414347;
    --outer-border-color: #747372;

  }
}

body {
  font-family: "Instrument Sans", Roboto, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  max-width: 1000px;
  padding: 0 1rem;
  margin: 1rem auto;
  font-size: 13px;
  background-color: var(--main-bg-color);
  color: var(--main-text-color)
}

a {
  color: var(--main-alt-color);
  text-decoration: none;
}

main {
  margin: 3rem 0;
}

.nav-item-active a {
  color: var(--main-text-color);
  text-decoration: none;
}

nav h2,
.title-page {
  font-variant: small-caps;
  font-weight: normal;
}

nav ul {
  padding:0; 
}
nav li {
  display: inline-block;
  padding-right: 6px;
  margin-right: 4px;
  font-weight: bold;
}

nav a {
  color: var(--main-light-color)

}

.ct-beyond20-custom-roll-button {
 cursor: pointer
}

.ct-beyond20-custom-icon {
  vertical-align: bottom;
}


.magic-item-image {
  float: left;
}
.monster-image,
.magic-item-image {
  max-width: 500px
}