.mon-stat-block-2024 {
    position: relative;
    box-shadow: 0 0 5px var(--outer-shadow-color);
    border: 1px solid var(--outer-border-color);
    padding: 15px;
    margin: 15px 0;
    font-family: "Instrument Sans", Roboto, Helvetica, sans-serif;
    font-size: 15px;
    outline: 1px solid #afa47a;
    outline-offset: -0.25rem;
    border-radius: .5rem;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.mon-stat-block-2024__header {
    line-height: 1.1;
}

.mon-stat-block-2024__name {
    border-bottom: .063rem solid var(--main-text-color);
    font-family: "Instrument Sans", Roboto, Helvetica, sans-serif;
    letter-spacing: 0.03em;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1.75rem;
    -webkit-column-span: all;
    column-span: all;
    margin-bottom: .45rem;
}

.mon-stat-block-2024__name .mon-stat-block-2024__name-link, 
.mon-stat-block-2024__name .mon-stat-block-2024__name-link:visited, 
.mon-stat-block-2024__attribute, 
.mon-stat-block-2024__tidbit, 
.mon-stat-block-2024__description-block-heading {
    color: var(--main-alt-color);
}

.mon-stat-block-2024__meta {
    color: var(--main-light-color);
    margin-bottom: .938rem;
    margin-top: .188rem;
    font-style: italic;
}

.mon-stat-block-2024__attribute, .mon-stat-block-2024__feature {
    margin: 5px 0;
    line-height: 1.2;
}

.mon-stat-block-2024__attribute-label, .mon-stat-block-2024__feature-label {
    font-weight: bold;
}

.mon-stat-block-2024__stats {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: .625rem;
}
.stat-table, .stat-table thead, .stat-table tr, .stat-table th, .stat-table tbody, .stat-table td {
    border: 0;
}

.stat-table {
    margin: 0 0 .5rem;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.stat-table thead tr th {
    background: inherit;
    color: var(--main-light-color) !important;
    font-weight: 400;
    padding: .3125rem .125rem 0;
    text-transform: uppercase;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: .6875rem;
}

.stat-table tbody tr {
    border-top: .0625rem solid var(--main-bg-color);
    border-bottom: .0625rem solid var(--main-bg-color);
    padding: 2px;
    text-align: center;
    font-size: .938rem;
}

.stat-table.physical tbody tr th, .stat-table.physical tbody tr td {
    color: var(--main-text-color);
    background: var(--table-bg-td-color)
}

.stat-table.physical td.modifier {  
    background: var(---table-bg-mod-color);   
    color: var(---table-mod-text-color);
}

.mon-stat-block-2024__description-block-heading {
    border-bottom: .063rem solid var(--main-text-color);
    font-size: 1.25rem;
    font-family: "Instrument Sans", Roboto, Helvetica, sans-serif;
    font-variant: small-caps;
    font-weight: normal;
    line-height: 1.4;
    margin-bottom: .938rem;
}

.mon-stat-block-2024__description-block p {
    margin-bottom: 10px;
}

.mon-stat-block-2024 .tooltip-hover, .mon-stat-block-2024 .tooltip-hover:hover, .mon-stat-block-2024 .tooltip-hover:focus, .mon-stat-block-2024 .tooltip-hover:active, .mon-stat-block-2024 .tooltip-hover:visited {
    color: inherit !important;
    font-weight: inherit !important;
    text-decoration: underline solid var(--main-text-color);
}

.mon-stat-block-2024__tidbit-label {
    font-weight: bold;
}

.stat-table.mental tbody tr th, .stat-table.mental tbody tr td { 
    background: var(--table-alt-bg-color);
    color: var(--main-text-color);
}

.stat-table.mental td.modifier {
    background: var(--table-alt-mod-color);
    color:var(--main-text-color);
}

.custom-left-col {
    margin-bottom: 20px
}