---
layout: home.njk
---
Welcome to the Candlekeep Compendium a reference resource your campaign.

<h2>Candlekeep Hierarchy</h2>
<ul>
<li><b>Keeper of the Tomes</b>: Amos Riven</li>
<li><b>First Reader</b>: Sylvira Savikas with her familiar Pipyap</li>
<li><b>Great Reader of Enchantment</b>: Fheminor Scrivenbark</li>
<li><b>Great Reader of Necromancy</b>: Kamaria</li>
<li><b>Great Reader of Divination</b>: Milbi</li>
<li><b>Great Reader of Abjuration</b>: Serasriel</li>
<li><b>Great Reader of Prophesy</b>: Skoss Valanaster</li>
<li><b>Great Reader of Evocation</b>: Tragorican</li>
<li><b>Keeper of the Emerald Door</b>: Rafiq</li>
<li><b>Keeper of the Temple</b>: Alai Aivenmore</li>
<li><b>Archdruid</b>: Leuwin</li>
<li><b>Head Chef</b>: Sadra Fern</li>
</ul>
<h2>Other Known Inhabitants</h2>
<ul>
<li>Explodemius</li>
<li>Khe’ril Hammerbind</li>
<li>Konzo Bamus</li>
<li>Little One</li>
<li>Sprig</li>
</ul>
<h2>Past Inhabitants</h2>
<ul>
<li>Teles Ahvoste also known as Vattick Tanthul</li>
<li>Janussi former Keeper of the Tomes</li>
</ul>
<h2>Services</h2>
Whilst at Candlekeep players can:
<ul>
<li>Sell rare books</li>
<li>Buy spell scrolls</li>
<li>Identify items</li>
<li>Ask avowed to research something</li>
<li>Take out nonmagical books</li>
<li>Get a book copied</li>
</ul>