---
layout: blank.njk
---
{
    imgShare: "{{'/img/share/' | url }}{{name}}.webp",
    name: "{{name}}",
    meta: "{{size}}, {{type}}, {{alignment}}",
    ac: "{{ac}}",
    init: "+4 (14)",
    hp: "{{hp}}",
    hitDice: "{{hit_dice}}",
    speed: "{{speed}}"
    abilityStr: "{{ stats[0] | abilityModifier }}",
    abilityDex: " {{ stats[1] | abilityModifier }}"
    abilityCon: "{{ stats[2] | abilityModifier }}"
    abilityInt: "{{ stats[3] | abilityModifier }}"
    abilityWis: "{{ stats[4] | abilityModifier }}"
    abilityCha: "{{ stats[5] | abilityModifier }}"
    saveStr: "{{saves.strength}}"
    saveDex: "{{saves.dexterity}}"
    saveCon: "{{saves.constitution}}"
    saveInt: "{{saves.intelligence}}"
    saveWis: "{{saves.wisdom}}"
    saveCha: "{{saves.charisma}}"
    damageResist: "{{damage_resistances}}"
    damageImmune: "{{damage_immunities}}"
    conditionImmune: "{{condition_immunities}}"
    damageVulnerable: "{{damage_vulnerabilities}}"
    senses: "{{senses}}"
    languages: "{{languages}}"
    cr: "{{cr}}"
    traits: [
{% for trait in traits %}
    {
        name: "{{trait.name}}",
        desc: "{{trait.desc | striptags(true) | escape | nl2br | brackets | safe}}",
    },
{% endfor %}
{% for action in actions %}
    {
        name: "{{actions.name}}",
        desc: "{{actions.desc | striptags(true) | escape | nl2br | brackets | safe}}",
    },
{% endfor %}
    ]
    spells: [
{% for spell in spells %}{% if spell["At Will"] %}
    {
        name: "At Will"
        desc: "{{ spell["At Will"] | brackets | safe }}"
    },
{% endif %}{% if spell["4/Day Each"] %}
    {
        name: "4/Day Each"
        desc: "{{ spell["4/Day Each"] | brackets | safe  }}"
    },
{% endif %}{% if spell["3/Day Each"] %}
    {
        name: "3/Day Each"
        desc: "{{ spell["3/Day Each"] | brackets | safe  }}"
    },
{% endif %}{% if spell["2/Day Each"] %}
    {
        name: "2/Day Each"
        desc: "{{ spell["2/Day Each"] | brackets | safe  }}"
    },
{% endif %}{% if spell["1/Day Each"] %}
    {
        name: "1/Day Each"
        desc: "{{ spell["1/Day Each"] | brackets | safe  }}"
    },
{% endif %}{% endfor %}  
    ]
}