<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.name or renderData.title or title or metadata.title  or renderData.name}}</title>
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/statblocks.css' | url }}">
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <script src={{ '/js/jets.min.js' | url }}></script>

  </head>
  <body>
    <header>
      <h2><a href="{{ '/' | url }}">Candlekeep Compendium</a></h2>
    </header>
    <nav>
      <ul>
        {%- for nav in collections.nav | sort(attribute="data.navtitle") -%}
          {% if nav.data.navtitle !== 'Adversaries' %}
            <li class="nav-item{% if page.url.startsWith(nav.url) %} nav-item-active{% endif %}">
              <a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a>
            </li>
          {% endif %}
        {%- endfor -%}
      </ul>
    </nav>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
