---
layout: base.njk
---
<div><a href={{ '/books/' | url }}> Back to all books</a></div>


<h1 class="title-page page-title">{{ name }}</h1>

<div class="item-details">
 <div class="more-info-content">
    {{ content | safe }}
  </div>
</div>