---
layout: base.njk
---

<h1 class="title-page">{{ name }}</h1>

<div class="image"><a href="">
<img src="/compendium/img/items/{{name}}.png" class="magic-item-image" /></a>
</div>

<div class="item-details">
 <div class="more-info-content">
    {{ content | safe }}
  </div>
</div>